.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--ant-token-colorBgContainer);
  border-bottom: 1px solid var(--ant-token-colorBorderSecondary);
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left,
  &__right {
    flex: 1;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }

  &__center {
    flex: 1; // 1/3
    display: flex;
    justify-content: center;
  }

  &__left--mobile {
    flex: 1 0 auto;
  }

  &__burger-button {
    font-size: 18px;
  }

  &__anchor--mobile {
    &.ant-anchor-wrapper {
      background: none;
      &::before { display: none; }
    }

    .ant-anchor {
      padding: 0;
    }

    .ant-anchor-link {
      padding: 12px 0;

      .ant-anchor-link-title {
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
      }

      &.ant-anchor-link-active {
        .ant-anchor-link-title {
          color: #1677ff;
          font-weight: 600;
        }
      }
    }
  }

  &__drawer-controls {
    width: 100%;
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid var(--ant-token-colorBorderSecondary);

    .ant-btn {
      width: 100%;
    }
  }

  &__anchor {
    &.ant-anchor-wrapper {
      background: none;
      &::before {
        display: none;
      }
    }
    .ant-anchor-link {
      padding: 0 16px;
      .ant-anchor-link-title {
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        &:hover {
        }
      }
      &.ant-anchor-link-active {
        .ant-anchor-link-title {
          color: #1677ff;
          font-weight: 600;
        }
      }
    }
  }
}